/**
 * hide page until the classes are set, to avoid jumping of elements when resize happens
 */

html {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/**
 * Set the html font-size to scale depending on a class set in JS
 */

[class*="claro-size--"] {
  opacity: 1;
}

/* set font to 18px */
.claro-size--larger {
  font-size: 112.5%;
}

/* set font to 14px */
.claro-size--smaller {
  font-size: 87.5%;
}

/* set font to 13px */
.claro-size--smallest {
  font-size: 81.25%;
}

/**
 * Style the switch itself
 */
.size-switcher {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}

.size-switcher__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1.5rem 0 0;
  padding: 0;
  list-style: none;
}

.size-switcher__item {
  display: block;
  margin: 0 0 0 0.5rem;
  padding: 0;
}

.size-switcher__link {
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.size-switcher__link,
.size-switcher__link:visited {
  color: #003cc5;
}

.size-switcher__link:hover,
.size-switcher__link:active,
.size-switcher__link.js-active {
  text-decoration: none;
  color: #fff;
  background-color: #003cc5;
}
