////////////////////////////////////////////////////////////////////////////////
// *
// * Blog teasers
// *
// *
////////////////////////////////////////////////////////////////////////////////

// *
// =============================================================================

.view__content .news--front-teaser,
.view__content .news--teaser, {

  // ** visual

  .field--image {
    margin-bottom: rem($gap-vert-sm);
  }

  // ** title
  .field--name-node-title {
    h2,
    //h3,
    h4 {
      @extend .h3;
    }

    h3 {
      //text-transform: uppercase;
      //font-style: italic;

      a {
        color: $color-spot-2;
        &:hover {
          color: $color-spot-1;
        }
      }
    }
  }

  // ** date/author

  .node__meta {
    display: inline;
  }

  .field--name-node-post-date {
    //float: left;
    //margin-right: rem(10);
  }

  .field--name-node-author {
    margin-left: rem(10);
  }

  // ** group stuff
  .node__actions--news-teaser {
    //
  }

  // ** read more

  .field--name-node-link {
    //margin-top: rem($gap-vert-sm);
    a {
      //@include link-more;
      position: relative;
      &:hover {
        color: $color-spot-3;
      }
    }
  }
}

// ** Filters inherit default styling because of this wrapper

.node__filters--news-teaser {
  margin-top: rem($gap-vert-sm);
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-xs-wide-only {

  // normal overview is visual + content in 2 cols
  .news--front-teaser,
  .news--teaser {

    display: flex; // needed to stretch some of the content
    flex-direction: column;

    // ** make a grid
    .layout__cols {
      @include flex-grid();
    }

    .layout__sidebar {
      @include flex-col(6);
    }

    .layout__content {
      @include flex-col(6);

      // needed to manipulate content with flex
      display: flex;
      flex-direction: column;
    }

    // stretch and push content down
    .node__actions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-grow: 1;
      align-items: flex-end; // align at the end
      align-content: flex-end; // space together at the end
    }

    .field--name-node-link {
      padding-right: rem(15);
      @include text-nobreak;
    }

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {
  .news--front-teaser,
  .news--teaser {

    .node__filters {
      flex-grow: 1;
      justify-content: flex-end;
    }

    // all except the first 3 items
    &:not(:nth-child(1)),
    &:not(:nth-child(2)),
    &:not(:nth-child(3)) {

      display: flex;

      // ** make a grid
      .layout__cols {
        @include flex-grid();
      }

      .layout__sidebar {
        @include flex-col(4);
      }

      .layout__content {
        @include flex-col(8);

        // needed to manipulate content with flex
        display: flex;
        flex-direction: column;
      }

      // stretch and push content down
      .node__actions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        align-items: flex-end; // align at the end
        align-content: flex-end; // space together at the end
      }

      .field--name-node-link {
        padding-right: rem(15);
        @include text-nobreak;
      }

    }

    // first 3 teasers have their visual and content in 1 col
    // so we switch to flex column and reset the flex properties and sizing

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {

      display: flex;

      .layout__cols {
        flex-direction: column;
        margin: 0;
        width: auto;
      }

      .layout__sidebar {
        flex: 0 1 auto;
        margin: 0;
        width: auto;
      }

      .layout__content {
        flex: 1 0 auto;
        margin: 0;
        width: auto;
      }

      .field--name-node-post-date {
        //@include hide;
      }
    }
  }

}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {
  .news--front-teaser,
  .news--teaser {

    // ** group stuff

    .node__actions--news-teaser {
      display: flex;
      flex-wrap: wrap;
    }

    .field--name-node-link {
      // flex-grow: 1; //push filters to the right
    }

  }

}
