////////////////////////////////////////////////////////////////////////////////
// *
// * Buttons (in forms and text)
// *
// *
////////////////////////////////////////////////////////////////////////////////


// * Preset classes
// =============================================================================

.button,
#{$buttons-list} {
  @include button-primary();
}

.button--secondary {
  @include button-secondary();
}

.button--negative {
  @include button-negative();
}

.button--negative-secondary {
  @include button-negative-secondary();
}

[id*='edit-cancel'] {
  @include button-secondary();
}


// * Grouping of buttons
// =============================================================================

// eg. on 403 page

.actions {

  margin-top: rem(10);

  .actions__divider,
  .button {
    display: block;
    margin-top: rem(10);
  }

  .actions__divider {
    text-align: center;
  }

  @include bp-sm {

    margin-top: rem(10);
    margin-left: rem(-10);

    .actions__divider {
      text-align: left;
    }

    .actions__divider,
    .button {
      display: inline-block;
      margin-left: rem(10);
    }
  }
}


// * Buttons in CKE
// =============================================================================

.text-long {

  // reset interference from complex link-styling CSS, if needed
  .button,
  .button--secondary {

    //&,
    //&:visited {
    //  text-decoration: none;
    //}
    //
    //&:hover,
    //&:active {
    //  background-image: none;
    //  text-decoration: none;
    //  box-shadow: none;
    //}

    // &:after {
    //   display: none;
    // }
  }

  // grouping
  p {

    .actions__divider {
      margin-right: rem(10);
    }

    .button {
      margin-top: rem(10);
      margin-right: rem(10);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
