////////////////////////////////////////////////////////////////////////////////
// *
// * event meta on full page: bottom
// *
////////////////////////////////////////////////////////////////////////////////


.node__meta--event-full {

  .field--name-field-event-price {
    @include text-nobreak;
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .node__meta--event-full {

    // price & date: inline the elements
    .bundle--event {

      display: flex;
      flex-wrap: wrap;
      margin-left: rem(-25);

      .layout__region {
        display: flex;
        flex-wrap: wrap;
        clear: none;

        > * {
          margin-left: rem(25);
        }
      }
    }

    // price itself
    .field--name-field-event-price {
      //
    }

    // date itself: inline the elements
    .event-daterange-wrapper {
      div {
        display: inline;
      }
    }

    // place

    .field--name-field-event-place {
      //
    }
  }

}

