/* stylelint-disable */
$iconSprite: (
      sprite: (width: {{spriteWidth}}px, height: {{spriteHeight}}px, svgPath: '../images/generated/sprite.svg'),
{{#shapes}}
    {{base}}: (width: {{width.inner}}px, height: {{height.inner}}px, backgroundX: {{position.absolute.x}}px, backgroundY: {{position.absolute.y}}px),
{{/shapes}});
/* stylelint-enable */

$sprite: map-get($iconSprite, sprite) !default;
